<html lang="de" ng-app="todotxt">

<head>
  <title>Todos</title>
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#4ea624">
  <meta name="msapplication-TileColor" content="#4ea624">
  <meta name="theme-color" content="#4ea624">
  <base href="/">
  <link rel="stylesheet" href="bootstrap.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <div class="container" ng-controller="todotxt-Main as ctrl">
    <h1>Todos <small>{{ctrl.filterSettings}}</small></h1>
    <button id="btnFilters" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filters"
      aria-expanded="false" aria-controls="filters">
      Filters
    </button>
    <div class="collapse card-body" id="filters">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" id="filter-limit">Limit:</label>
        </div>
        <input type="number" class="form-control" ng-model="ctrl.limit" aria-label="Limit" aria-describedby="filter-limit"
          ng-change="ctrl.updateFilter()" />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" id="filter-context">Context:</label>
        </div>
        <select class="custom-select form-control" ng-model="ctrl.contextFilter" aria-label="contextFilter"
          aria-describedby="filter-context" ng-change="ctrl.updateFilter()">
          <option value="">--- Auswahl ---</option>
          <option ng-repeat="option in ctrl.contexts" value="{{option}}">{{option}}</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" id="filter-project">Project:</label>
        </div>
        <select class="custom-select form-control" ng-model="ctrl.projectFilter" aria-label="projectFilter"
          aria-describedby="filter-project" ng-change="ctrl.updateFilter()">
          <option value="">--- Auswahl ---</option>
          <option ng-repeat="option in ctrl.projects" value="{{option}}">{{option}}</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" id="filter-priority">Priority:</label>
        </div>
        <select class="custom-select form-control" ng-model="ctrl.priorityFilter" aria-label="priorityFilter"
          aria-describedby="filter-priority" ng-change="ctrl.updateFilter()">
          <option value="">--- Auswahl ---</option>
          <option ng-repeat="option in ctrl.priorities" value="{{option}}">{{option}}</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" id="hideCompleted">Hide Completed:</label>
        </div>
        <label class="toggle-check form-control">
          <input type="checkbox" class="toggle-check-input" ng-model="ctrl.hideCompleted" ng-change="ctrl.updateFilter()" />
          <span class="toggle-check-text"></span>
        </label>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <a class="btn btn-link" ng-click="ctrl.sortType = 'complete'; ctrl.sortReverse = !ctrl.sortReverse">
              Complete
              <span ng-show="ctrl.sortType == 'complete' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="ctrl.sortType == 'complete' && ctrl.sortReverse" class="fa fa-caret-up"></span>
          </th>
          <th>
            <a class="btn btn-link" ng-click="ctrl.sortType = 'priority'; ctrl.sortReverse = !ctrl.sortReverse">
              Priority
              <span ng-show="ctrl.sortType == 'priority' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="ctrl.sortType == 'priority' && ctrl.sortReverse" class="fa fa-caret-up"></span>
          </th>
          <th>Task</th>
          <th>Details</th>
          <th>
            <a class="btn btn-link" ng-click="ctrl.sortType = 'projects'; ctrl.sortReverse = !ctrl.sortReverse">
              Projects
              <span ng-show="ctrl.sortType == 'projects' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="ctrl.sortType == 'projects' && ctrl.sortReverse" class="fa fa-caret-up"></span>
          </th>
          <th>
            <a class="btn btn-link" ng-click="ctrl.sortType = 'context'; ctrl.sortReverse = !ctrl.sortReverse">
              Context
              <span ng-show="ctrl.sortType == 'context' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="ctrl.sortType == 'context' && ctrl.sortReverse" class="fa fa-caret-up"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in ctrl.tasks | orderBy:ctrl.sortType:ctrl.sortReverse | filter: {contexts:ctrl.contextFilter, projects:ctrl.projectFilter, priority:ctrl.priorityFilter} | limitTo:ctrl.limit"
          ng-class="{'done': task.complete, 'text-muted': task.complete}" ng-hide="ctrl.hideCompleted && task.complete">
          <td>
            <i class="far fa-check-circle" ng-if="task.complete" style="color:#4ea624;"></i>
            <i class="far fa-circle" ng-if="!task.complete" ng-click="ctrl.complete(task)" style="cursor: pointer;"></i>
          </td>
          <td>{{task.priority}}</td>
          <td>{{task.cleantext}}</td>
          <td><a ng-href="{{task.notes}}" target="_blank">Notes</a></td>
          <td>{{task.projects | join:', '}}</td>
          <td>{{task.contexts | join:', '}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="jquery.min.js"></script>
  <script src="popper.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="angular-cookies.min.js"></script>
  <script src="app.js"></script>
</body>

</html>